.login-card {
  display: flex;
  align-items: center;
  background-color: #303030;
  color: rgb(230, 230, 230);
}

mat-card-title {
  font-size: 20px;
}

.login-card form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.login-card button {
  background-color: #e50914;
  color: rgb(230, 230, 230);
}
